@keyframes back-logo {
    from {
        height: 7.5em;
        width: 8.5em;
        justify-content: normal;
        align-content: normal;
    }

    to {
        height: 15em;
        width: 17em;
        justify-content: center;
        align-content: center;
    }
}