.about {
    background-color: rgba($primary, 0.5);
    border: 1em $primary;
    border-style: solid none solid;
    height: 40em;
    width: 100vw;
    margin-top: 10em;

    h1 {
        color: $tertiary;
        text-align: center;
        transform: scaleY(1.2);

        @include breakpoint(phone-only) {
            font-size: 2.3em;
        }

        @include breakpoint(phone-up) {
            font-size: 2.6em;
        }

        @include breakpoint(tablet-up) {
            font-size: 2.9em;
        }

        @include breakpoint(laptop-up) {
            font-size: 3.2em;
        }

        @include breakpoint(desktop-up) {
            font-size: 3.4em;
        }
    }

    p {
        color: $tertiary;
        text-align: center;

        @include breakpoint(phone-only) {
            font-size: 1.2em;
            width: 70vw;
        }

        @include breakpoint(phone-up) {
            font-size: 1.3em;
            width: 63vw;
        }

        @include breakpoint(tablet-up) {
            font-size: 1.4em;
            width: 56vw;
        }

        @include breakpoint(laptop-up) {
            font-size: 1.5em;
            width: 48vw;
        }

        @include breakpoint(desktop-up) {
            font-size: 1.6em;
            width: 40vw;
        }
    }
}