body {
    background-color: $secondary;
    height: auto;

    #backLogo {
        padding-inline: 3vw;
        padding-top: 3vh;
        height: 7.5em;
        width: 8.5em;
        position: fixed;
        animation-timing-function: ease;
        animation-duration: 0.5s;
    }
}

// Estrutura base das seções

.intro,
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}